doctype html
html(lang="en")
  head
    title Price of Weed
    link(rel="stylesheet", href="/stylesheets/main.css")
  body
    .container-fluid
      .row
        .col-sm-6
          .page-header
            h1
              span.glyphicon.glyphicon-tree-deciduous.text-green
              |  Price of Weed 
              small Explorer &amp; Timeline

          .row
            .col-sm-7
              .list-group#timeline.scrollable
                each e in events
                  if e.date >= start_date
                    a.list-group-item.timeline-event(data-time="#{moment(e.date).date(1).diff(moment(start_date), 'months', true)}", href="javascript:0", class="list-group-item-#{e.fillKey}")
                      if e.specificDate
                        h4.list-group-item-heading #{moment(e.date).format("MMMM Do, YYYY")}
                      else
                        h4.list-group-item-heading #{moment(e.date).format("MMMM YYYY")}
                      p.list-group-item-text #{e.description}
                  else
                    .list-group-item.timeline-event(class="list-group-item-#{e.fillKey}")
                      if e.specificDate
                        h4.list-group-item-heading #{moment(e.date).format("MMMM Do, YYYY")}
                      else
                        h4.list-group-item-heading #{moment(e.date).format("MMMM YYYY")}
                      p.list-group-item-text #{e.description}
            .col-sm-5
              ul.legend.list-unstyled.lead.text-right
                li.medical
                  //i.glyphicon.glyphicon-tint
                  |  Medical Cannabis Laws
                li.decriminalization
                  //i.glyphicon.glyphicon-tint
                  |  Decriminalization Laws
                li.medical-decriminalization
                  //i.glyphicon.glyphicon-tint
                  |  Medical &amp; Decrimin. Laws
                li.legalized
                  //i.glyphicon.glyphicon-tint
                  |  Legalized Cannabis

              .form.form-horizontal
                .form-group
                  label.control-label.col-sm-6 Price Per Gram
                  .col-sm-6.text-right
                    .btn-group
                      span.btn.btn-xs.btn-price-1 $0
                      span.btn.btn-xs.btn-price-2 &nbsp;&nbsp;
                      span.btn.btn-xs.btn-price-3 &nbsp;&nbsp;
                      span.btn.btn-xs.btn-price-4 &nbsp;&nbsp;
                      span.btn.btn-xs.btn-price-5 $35
                .form-group
                  label.control-label.col-sm-6 Quality
                  .col-sm-6
                    select.form-control#quality-menu
                      option(value="low") Low
                      option(value="mid") Medium
                      option(value="high", selected=true) High
                //-.form-group
                  label.control-label.col-sm-6 Fill Empty Months
                  .col-sm-6
                    input#fillEmptyMonths(type="checkbox")
                    small.help-block If a month lacks data for a state, keep the fill from the previous month.

                //-.form-group
                  label.control-label.col-sm-6 Date
                  .col-sm-6
                    select.form-control#current-date-menu
                      - for (var i = moment(start_date); i < moment(end_date); i = i.add('months', 1))
                        option(value="#{i.format('YYYY-MM')}") #{i.format('MMM YYYY')}

        .col-sm-6
          #map

          .text-center
            #current-date
              span.lead September 2010

            form#slider-container.form-inline
              span.control-label  #{moment(start_date).format('MMM YYYY')}
              input#time-slider(type="range", min="0", max="#{moment(end_date).diff(moment(start_date), 'months', true) - 1}", value="0")
              span.control-label #{moment(end_date).format('MMM YYYY')} 

            .btn-group
              a(href="javascript:0").btn.btn-success.btn-xs#time-back
                span.glyphicon.glyphicon-backward
              a(href="javascript:0").btn.btn-success.btn-xs#time-play
                span.glyphicon.glyphicon-play
              a(href="javascript:0").btn.btn-success.btn-xs#time-next
                span.glyphicon.glyphicon-forward

          .text-center
            #trend-chart
            #price-chart

          .col-sm-4.col-sm-offset-4
            select.form-control#location-menu
              option(value="US") United States
              each state, abbr in states
                option(value=abbr) #{state}

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js", charset="utf-8")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src="http://d3js.org/d3.v3.min.js", charset="utf-8")
    script(src="http://d3js.org/topojson.v1.min.js", charset="utf-8")
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js", charset="utf-8")
    script(src="datamaps.us.js", charset="utf-8")
    script(src="scripts.js", charset="utf-8")
    script(type="text/javascript", src="//use.typekit.net/oje0oka.js")
    script(type="text/javascript").
      try{Typekit.load();}catch(e){}